body{
    height: 100vh;
    background: url(image.png) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

form{
    background: url(image.png) no-repeat center center/cover;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px black;
}

input{
    width: 90%;
    padding: 4px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 5px;
}

button{
    background-color: #9fe5fa;
    cursor: pointer;
    border-radius: 5px;
}